github "ReactiveX/RxSwift"
github "RxSwiftCommunity/Action"
github "RxSwiftCommunity/RxDataSources"
github "tristanhimmelman/ObjectMapper"
github "Alamofire/Alamofire"
github "RxSwiftCommunity/RxAlamofire" 
github "quickbirdstudios/XCoordinator"
github "Swinject/Swinject"
github "Quick/Nimble"
github "Quick/Quick"
