github "ReactiveX/RxSwift" ~> 4.0
github "RxSwiftCommunity/Action" ~> 3.10
github "RxSwiftCommunity/RxDataSources" ~> 3.0
github "tristanhimmelman/ObjectMapper" ~> 3.4
github "Alamofire/Alamofire" ~> 4.0
github "RxSwiftCommunity/RxAlamofire" ~> 4.0
github "quickbirdstudios/XCoordinator" ~> 1.4
github "Swinject/Swinject" ~> 2.5
github "Quick/Nimble" ~> 8.0
github "Quick/Quick" ~> 2.0
