github "0x73/SwiftIconFont"
github "ReactiveX/RxSwift" ~> 4.0
github "RxSwiftCommunity/Action" ~> 3.0
github "RxSwiftCommunity/RxDataSources" ~> 3.0
github "tristanhimmelman/ObjectMapper" ~> 3.4
github "Alamofire/Alamofire" ~> 4.0
github "RxSwiftCommunity/RxAlamofire" ~> 4.0
github "quickbirdstudios/XCoordinator" ~> 1.0
github "Swinject/Swinject" ~> 2.5
github "Quick/Nimble" ~> 7.3
github "Quick/Quick" ~> 1.3
